{% extends 'core/base.html' %}

{% block title %}{{ lobby.get_name }} | {% endblock %}
{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{ lobby.get_name }}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for message in messages %}
            <div class="p-4 bg-gray-200 rounded-xl">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div id = 'body'>
    <!-- must display the amount of money the player has -->
    <span id="button-span"></span>
    <span>Balance: $<span id="balance">{{ player.get_bank }}</span></span>
</div>
{% endblock %}

{% block scripts %}
{{ is_leader|json_script:"json-is-leader" }}
{{ slug |json_script:"json-slug" }}
{{ player.get_hand | json_script:"json-hand"}}
{{ player.get_bet | json_script:"json-stake"}}
{{ lobby.has_started | json_script:"json-has-started"}}
<script>

    //functions
    function displayGameElements(data) {
        //inside of body div, must add cards, raise form, fold, call buttons, current stake
        const cards_html = `<span>${data.hand[0]}, ${data.hand[1]}</span>`
        const raise_input = `<input id="raise-value" type="number" placeholder="Raise amount">`
        const command_buttons = `<button id="raise">Raise</button>` + 
        `<button id="call">Call</button>` + 
        `<button id="fold">Fold</button>`
        const stake_html = `<span>Your stake: <span id="stake">${data.stake}</span></span>`
        
        document.getElementById('body').innerHTML += cards_html + raise_input + command_buttons +
        stake_html

        //update bank
        document.getElementById('balance').textContent = data.balance

        //remove start button from the leader
        const startButton = document.getElementById("start-button")

        if (startButton) {
            startButton.remove()
        }

        //add functionality to buttons
        document.getElementById("raise").onclick = function(e) {

            chatSocket.send(JSON.stringify({
                'command': 'raise',
                'amount': document.getElementById('raise-value').value
            }));

        }

        document.getElementById("call").onclick = function(e) {

            chatSocket.send(JSON.stringify({
                'command': 'call'
            }));

        }

        document.getElementById("fold").onclick = function(e) {

            chatSocket.send(JSON.stringify({
                'command': 'fold'
            }));

        }
    }

    //open websocket connection
    const slug = JSON.parse(document.getElementById('json-slug').textContent)

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/' + slug + '/'
    );
    //if lobby has started, need to display dat too and information too
    const hasStarted = JSON.parse(document.getElementById('json-has-started').textContent)

    if (hasStarted) {
        //we require data object
        const hand = JSON.parse(document.getElementById('json-hand').textContent)
        const stake = JSON.parse(document.getElementById('json-stake').textContent)
        const balance = JSON.parse(document.getElementById('json-balance').textContent)
        displayGameElements({
            'hand': hand,
            'stake': stake,
            'balance': balance
        })
    } else {
        const isLeader = JSON.parse(document.getElementById('json-is-leader').textContent)
        if (isLeader) {
            document.getElementById('button-span').innerHTML = `<button name="action"
            id="start-button" class="px-5 py-3 rounded-xl text-white bg-gray-600 hover:bg-gray-700">Start</button>`

            //add functionality to button
            document.getElementById("start-button").onclick = function(e) {
                //e.preventDefault();

                chatSocket.send(JSON.stringify({
                    'command': 'start' //when this command is sent, the server should send a command to all users and their webpages should update
                }));

                //return false;
            }
        }
    }


    //display messages from server to chat
    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.command == 'start') {
            //need to display all buttons for playing the game
            displayGameElements(data)
        } else if (data.command == 'update')
            //need to make sure the bet and balance are accurate
            document.getElementById('balance').textContent = data.balance
            document.getElementById('stake').textContent = data.stake

        if (data.message) {
            let html = '<div class="p-4 bg-gray-200 rounded-xl">'
            html += '<p>' + data.message + '</p></div>';

            document.querySelector('#chat-messages').innerHTML += html;
        } else {
            alert('The message was empty');
        }
    };

    chatSocket.onclose = function(e) {
        console.log('onclose')
    };

</script>
{% endblock %}